appnope==0.1.0
appscript==1.0.1
argh==0.26.2
awscli==1.11.136
backports.weakref==1.0rc1
bcolz==1.1.2
beautifulsoup4==4.6.0
bleach==1.5.0
botocore==1.6.3
certifi==2017.11.5
chardet==3.0.4
cliff==2.8.0
cmd2==0.7.7
colorama==0.3.7
configparser==3.5.0
cssselect==1.0.1
cycler==0.10.0
decorator==4.1.2
Django==1.10.8
django-classy-tags==0.8.0
django-sekizai==0.10.0
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
h5py==2.7.1
html5lib==0.9999999
idna==2.6
image==1.5.16
imgaug==0.2.5
inline==0.0.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
jedi==0.11.0
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
kaggle-cli==0.12.11
Keras==2.1.2
lxml==4.0.0
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==2.1.0
MechanicalSoup==0.8.0
mistune==0.8
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
notebook==5.2.1
numpy==1.13.3
object-detection==0.1
olefile==0.44
opencv-contrib-python==3.3.0.10
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.0
pathtools==0.1.2
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
prettytable==0.7.2
progressbar2==3.34.3
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5.2
pyasn1==0.3.2
Pygments==2.2.0
pyparsing==2.2.0
pyperclip==1.5.32
python-dateutil==2.6.1
python-utils==2.2.0
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
reload==0.9
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.10
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
stevedore==1.27.1
sympy==1.1.1
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
terminado==0.6
testpath==0.3.1
Theano==0.9.0
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.13
widgetsnbextension==3.0.6
